{
  "swagger": "2.0",
  "info": {
    "title": "RelayShield",
    "description": "Identity threat intelligence for security and IT operations. Check whether an email, phone number, domain, vendor or IP has been exposed in a breach, an infostealer log, a SIM swap or a criminal marketplace, and act on the result inside your existing flows.",
    "version": "1.0",
    "contact": {
      "name": "RelayShield Support",
      "email": "support@relayshield.net",
      "url": "https://api.relayshield.net/developers"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "api.relayshield.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/metered/breach": {
      "post": {
        "operationId": "CheckEmailBreach",
        "summary": "Check an email for data breach exposure",
        "description": "Looks the address up across 13B+ compromised accounts and returns every breach it appears in, with the date and the classes of data exposed. Call it before trusting a new user identity or granting elevated access.\n\n**Billing.** $0.10 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email address to check. Case-insensitive; whitespace is trimmed. Must contain '@'.",
                  "format": "email",
                  "example": "user@example.com",
                  "x-ms-summary": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "The normalised address that was checked."
                    },
                    "record_type": {
                      "type": "string",
                      "description": "Always `credential_exposure`. Lets a SIEM route every identity finding on one field."
                    },
                    "breach_count": {
                      "type": "integer",
                      "description": "Number of breaches the address appears in. 0 means no known exposure."
                    },
                    "breaches": {
                      "type": "array",
                      "description": "One entry per breach, unordered.",
                      "items": {
                        "type": "object",
                        "description": "A single breach.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Breach identifier, e.g. `LinkedIn`."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain of the breached service. May be empty."
                          },
                          "breach_date": {
                            "type": "string",
                            "description": "Date of the breach, YYYY-MM-DD."
                          },
                          "data_classes": {
                            "type": "array",
                            "description": "Data types exposed.",
                            "items": {
                              "type": "string",
                              "description": "e.g. `Email addresses`, `Passwords`."
                            }
                          },
                          "is_verified": {
                            "type": "boolean",
                            "description": "Whether the breach has been verified as genuine."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1/metered/sim-swap": {
      "post": {
        "operationId": "CheckSimSwap",
        "summary": "Check a phone number for a recent SIM swap",
        "description": "Queries live carrier data for the number. A recent swap is a strong signal of an account-takeover attempt against SMS-based 2FA, so call this before trusting an SMS OTP from a number you have not seen before.\n\n**Billing.** $0.25 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "phone": {
                  "type": "string",
                  "description": "Phone number in E.164 format. Must start with '+'. Rejected without it -- national formats are ambiguous across carriers.",
                  "example": "+14155551234",
                  "x-ms-summary": "Phone"
                }
              },
              "required": [
                "phone"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "phone": {
                      "type": "string",
                      "description": "The number that was checked, echoed as supplied."
                    },
                    "swapped": {
                      "type": "boolean",
                      "description": "True when the carrier reports a SIM swap or port in the lookback period."
                    },
                    "swap_timestamp": {
                      "type": "string",
                      "description": "When the swap occurred. Empty string when no swap is reported."
                    },
                    "carrier": {
                      "type": "string",
                      "description": "Current carrier name. Empty when the carrier does not disclose it."
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1/metered/domain": {
      "post": {
        "operationId": "CheckLookalikeDomains",
        "summary": "Find lookalike domains impersonating a domain",
        "description": "Generates typosquat, homoglyph and phishing-prefix permutations, keeps the ones that actually resolve, then enriches each with Safe Browsing status, registration age and Certificate Transparency activity. A lookalike registered in the last 30 days with a fresh certificate is being stood up right now.\n\n**Billing.** $0.30 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers...",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "Domain to protect. A scheme or leading `www.` is stripped for you.",
                  "example": "acme.com",
                  "x-ms-summary": "Domain"
                }
              },
              "required": [
                "domain"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "The normalised domain that was scanned."
                    },
                    "lookalikes_found": {
                      "type": "integer",
                      "description": "Permutations that resolve."
                    },
                    "lookalikes": {
                      "type": "array",
                      "description": "One entry per active lookalike.",
                      "items": {
                        "type": "object",
                        "description": "One active lookalike domain, enriched with intent signals.",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "The lookalike domain that resolves."
                          },
                          "gsb_flagged": {
                            "type": "boolean",
                            "x-nullable": true,
                            "description": "True if Google Safe Browsing lists it. null when enrichment timed out."
                          },
                          "registration_age_days": {
                            "type": "integer",
                            "x-nullable": true,
                            "description": "Days since registration via RDAP. Under 30 is a strong phishing signal. null when unavailable."
                          },
                          "cert_count": {
                            "type": "integer",
                            "x-nullable": true,
                            "description": "Certificates seen in Certificate Transparency logs."
                          },
                          "cert_recent": {
                            "type": "boolean",
                            "x-nullable": true,
                            "description": "True if a certificate was issued recently, indicating the lookalike is being stood up now."
                          },
                          "latest_cert_issued": {
                            "type": "string",
                            "x-nullable": true,
                            "description": "Issue date of the most recent certificate."
                          }
                        }
                      }
                    },
                    "candidates_checked": {
                      "type": "integer",
                      "description": "Permutations generated and tested."
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1/metered/oauth-watchlist": {
      "post": {
        "operationId": "CheckOAuthWatchlist",
        "summary": "Check an email for risky OAuth app grants and stolen tokens",
        "description": "Combines breach history against a watchlist of OAuth-capable apps with a live search of the stealer-log corpus. Returns matched apps with direct revoke links, plus any stolen credentials, category-scored: cloud consoles and code repositories CRITICAL, identity providers and payment processors HIGH, productivity SaaS MEDIUM.\n\n**Billing.** $0.30 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat ...",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email address to check.",
                  "format": "email",
                  "x-ms-summary": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "The normalised address that was checked."
                    },
                    "matched_count": {
                      "type": "integer",
                      "description": "OAuth-capable apps matched via breach history."
                    },
                    "matched_apps": {
                      "type": "array",
                      "description": "Apps matched from breach history.",
                      "items": {
                        "type": "object",
                        "description": "A matched OAuth app.",
                        "properties": {
                          "app": {
                            "type": "string",
                            "description": "App or service name."
                          },
                          "source": {
                            "type": "string",
                            "description": "Always `breach_history` for this list."
                          },
                          "breach_date": {
                            "type": "string",
                            "description": "Date of the breach, YYYY-MM-DD."
                          },
                          "data_classes": {
                            "type": "array",
                            "description": "Data types exposed.",
                            "items": {
                              "type": "string",
                              "description": "Data class."
                            }
                          },
                          "revoke_url": {
                            "type": "string",
                            "description": "Direct link to the app's revoke-access page."
                          }
                        }
                      }
                    },
                    "stolen_token_count": {
                      "type": "integer",
                      "description": "Credential records found in the stealer corpus."
                    },
                    "stolen_tokens": {
                      "type": "array",
                      "description": "Stolen credentials, sorted most severe first.",
                      "items": {
                        "type": "object",
                        "description": "One stolen session or credential record from the criminal corpus.",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "Service the stolen session belongs to."
                          },
                          "session_type": {
                            "type": "string",
                            "description": "`cookie` for a session cookie, `credential` for a username/password or token pair."
                          },
                          "cookie_name": {
                            "type": "string",
                            "description": "Cookie or credential name. Never the value."
                          },
                          "severity": {
                            "type": "string",
                            "enum": [
                              "CRITICAL",
                              "HIGH",
                              "MEDIUM",
                              "LOW"
                            ],
                            "description": "Severity derived from the service category."
                          },
                          "service_category": {
                            "type": "string",
                            "description": "Category of the affected service, e.g. cloud_console, identity_provider, productivity."
                          },
                          "channel_source": {
                            "type": "string",
                            "description": "Criminal channel or archive the record was collected from."
                          },
                          "ingested_at": {
                            "type": "string",
                            "description": "When RelayShield ingested the record."
                          }
                        }
                      }
                    },
                    "highest_severity": {
                      "type": "string",
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW",
                        "NONE"
                      ],
                      "description": "Highest severity across both signals. `NONE` when nothing was found."
                    },
                    "recommendation": {
                      "type": "string",
                      "description": "Remediation text derived from the most severe signal present."
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1/metered/infostealer": {
      "post": {
        "operationId": "CheckInfostealer",
        "summary": "Check an email for infostealer malware exposure",
        "description": "A single infected device exposes every saved password at once: banking, card autofill, email, SaaS, and live session cookies that bypass 2FA. This returns the infection records tied to the address, including when the device was compromised and how many corporate and personal services were on it.\n\n**Billing.** $0.50 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and ...",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email address to check.",
                  "format": "email",
                  "x-ms-summary": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "record_type": {
                      "type": "string",
                      "description": "Always `credential_exposure`."
                    },
                    "email": {
                      "type": "string",
                      "description": "The normalised address that was checked."
                    },
                    "found": {
                      "type": "boolean",
                      "description": "True when at least one infection record exists."
                    },
                    "stealer_count": {
                      "type": "integer",
                      "description": "Number of distinct infected devices."
                    },
                    "stealers": {
                      "type": "array",
                      "description": "One entry per infected device.",
                      "items": {
                        "type": "object",
                        "description": "A single infostealer infection.",
                        "properties": {
                          "date_compromised": {
                            "type": "string",
                            "description": "When the device was infected."
                          },
                          "computer_name": {
                            "type": "string",
                            "description": "Hostname recorded by the malware."
                          },
                          "operating_system": {
                            "type": "string",
                            "description": "OS string recorded by the malware."
                          },
                          "malware_path": {
                            "type": "string",
                            "description": "Filesystem path the stealer ran from."
                          },
                          "total_corporate_services": {
                            "type": "integer",
                            "description": "Corporate credentials found on the device."
                          },
                          "total_user_services": {
                            "type": "integer",
                            "description": "Personal credentials found on the device."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1/metered/supply-chain": {
      "post": {
        "operationId": "CheckVendorRisk",
        "summary": "Score vendor domains for third-party breach risk",
        "description": "One call covers up to 10 vendor domains. Each gets a breach and infostealer assessment plus a 0-100 dark-web composite; results come back sorted worst-first.\n\n**Billing.** $0.10 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "vendor_domains": {
                  "type": "array",
                  "description": "Vendor domains to assess.",
                  "items": {
                    "type": "string",
                    "description": "Domain."
                  },
                  "x-ms-summary": "Vendor Domains"
                },
                "vendor_emails": {
                  "type": "array",
                  "description": "Vendor email addresses. The domain part is extracted and assessed, so you can pass a contact list directly.",
                  "items": {
                    "type": "string",
                    "description": "Email address.",
                    "format": "email"
                  },
                  "x-ms-summary": "Vendor Emails"
                }
              },
              "description": "At least one of: `vendor_domains`, `vendor_emails`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "domains_checked": {
                      "type": "integer",
                      "description": "Distinct domains assessed after deduplication."
                    },
                    "highest_risk": {
                      "type": "string",
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW",
                        "CLEAN"
                      ],
                      "description": "Worst risk_level across all vendors."
                    },
                    "critical_vendors": {
                      "type": "array",
                      "description": "Domains rated CRITICAL.",
                      "items": {
                        "type": "string",
                        "description": "Domain."
                      }
                    },
                    "high_risk_vendors": {
                      "type": "array",
                      "description": "Domains rated HIGH.",
                      "items": {
                        "type": "string",
                        "description": "Domain."
                      }
                    },
                    "results": {
                      "type": "array",
                      "description": "Per-vendor detail, sorted by dark_web_score descending.",
                      "items": {
                        "type": "object",
                        "description": "Per-vendor risk assessment.",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "The vendor domain assessed."
                          },
                          "breach_count": {
                            "type": "integer",
                            "description": "Number of known breach events affecting this domain."
                          },
                          "breached_accounts": {
                            "type": "integer",
                            "description": "Accounts from this domain found across those breaches."
                          },
                          "breach_names": {
                            "type": "array",
                            "description": "Breach names, capped at 10.",
                            "items": {
                              "type": "string",
                              "description": "Breach name."
                            }
                          },
                          "infostealer_found": {
                            "type": "boolean",
                            "description": "True if credentials for this domain appear in infostealer logs."
                          },
                          "infostealer_count": {
                            "type": "integer",
                            "description": "Infostealer log entries for this domain."
                          },
                          "infostealer_dates": {
                            "type": "array",
                            "description": "Compromise dates, present only when infostealer_found is true.",
                            "items": {
                              "type": "string",
                              "description": "Date the device was compromised."
                            }
                          },
                          "risk_level": {
                            "type": "string",
                            "enum": [
                              "CRITICAL",
                              "HIGH",
                              "MEDIUM",
                              "LOW",
                              "CLEAN"
                            ],
                            "description": "Overall vendor risk rating."
                          },
                          "risk_factors": {
                            "type": "array",
                            "description": "Plain-English reasons behind risk_level.",
                            "items": {
                              "type": "string",
                              "description": "One contributing factor."
                            }
                          },
                          "recommendation": {
                            "type": "string",
                            "description": "Recommended action for this vendor."
                          },
                          "dark_web_score": {
                            "type": "integer",
                            "description": "Composite exposure score 0-100. Results are sorted by this, descending.",
                            "minimum": 0,
                            "maximum": 100
                          }
                        }
                      }
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1/metered/secret-scan-text": {
      "post": {
        "operationId": "ScanTextForSecrets",
        "summary": "Scan text for leaked API keys and credentials",
        "description": "Pattern-scans content you send, with no external lookups. Built for pre-commit hooks and CI: send a unified diff and only added lines are scanned, so pre-existing secrets in a file do not block every commit that touches it. Priced well below secret-scan because this fires on every commit.\n\n**Billing.** $0.05 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Mar...",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "Raw file content to scan. Mutually exclusive with `diff`.",
                  "x-ms-summary": "Content"
                },
                "diff": {
                  "type": "string",
                  "description": "Unified diff. Only added lines are scanned. Mutually exclusive with `content`.",
                  "x-ms-summary": "Diff"
                },
                "filename": {
                  "type": "string",
                  "description": "Optional filename, echoed on each finding as `file`. Used with `content`.",
                  "x-ms-summary": "Filename"
                }
              },
              "description": "At least one of: `content`, `diff`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "found": {
                      "type": "boolean",
                      "description": "True when at least one secret was detected."
                    },
                    "bytes_scanned": {
                      "type": "integer",
                      "description": "UTF-8 byte length of the payload."
                    },
                    "findings": {
                      "type": "array",
                      "description": "Findings, sorted by severity then line number.",
                      "items": {
                        "type": "object",
                        "description": "One detected secret.",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Credential type."
                          },
                          "description": {
                            "type": "string",
                            "description": "What the credential grants."
                          },
                          "severity": {
                            "type": "string",
                            "enum": [
                              "CRITICAL",
                              "HIGH",
                              "MEDIUM",
                              "LOW"
                            ],
                            "description": "Severity of the credential type."
                          },
                          "line": {
                            "type": "integer",
                            "description": "1-indexed line number in the payload."
                          },
                          "byte_offset": {
                            "type": "integer",
                            "description": "Byte offset of the match."
                          },
                          "length": {
                            "type": "integer",
                            "description": "Length of the matched value."
                          },
                          "fingerprint": {
                            "type": "string",
                            "description": "Stable non-reversible fingerprint of the value. Lets you dedupe across runs without transmitting the secret."
                          },
                          "llm_provider": {
                            "type": "string",
                            "description": "LLM or AI provider when the credential is provider-attributable, otherwise empty."
                          },
                          "file": {
                            "type": "string",
                            "description": "The `filename` you supplied, or the path parsed from the diff."
                          }
                        }
                      }
                    },
                    "findings_count": {
                      "type": "integer",
                      "description": "Total findings."
                    },
                    "severity_counts": {
                      "type": "object",
                      "description": "Counts keyed by severity.",
                      "properties": {}
                    },
                    "highest_severity": {
                      "type": "string",
                      "x-nullable": true,
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW",
                        null
                      ],
                      "description": "Highest severity found. null when clean."
                    },
                    "recommendation": {
                      "type": "string",
                      "description": "Remediation text."
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1/metered/session-risk": {
      "post": {
        "operationId": "CheckSessionRisk",
        "summary": "Check an email for stolen active session cookies",
        "description": "Searches criminal stealer-log archives for live session cookies belonging to the address. This is the AiTM case that password rotation does not fix: a stolen cookie bypasses 2FA and stays valid until the session is explicitly invalidated.\n\n**Billing.** $0.30 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra cha...",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email address to check.",
                  "format": "email",
                  "x-ms-summary": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "The normalised address that was checked."
                    },
                    "record_type": {
                      "type": "string",
                      "description": "`credential_exposure`. Present on the not-found response."
                    },
                    "found": {
                      "type": "boolean",
                      "description": "True when at least one stolen session exists."
                    },
                    "session_count": {
                      "type": "integer",
                      "description": "Number of stolen session records."
                    },
                    "highest_severity": {
                      "type": "string",
                      "x-nullable": true,
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW",
                        null
                      ],
                      "description": "Highest severity across all sessions. null when none found."
                    },
                    "sessions": {
                      "type": "array",
                      "description": "Sessions, sorted most severe first.",
                      "items": {
                        "type": "object",
                        "description": "One stolen session or credential record from the criminal corpus.",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "Service the stolen session belongs to."
                          },
                          "session_type": {
                            "type": "string",
                            "description": "`cookie` for a session cookie, `credential` for a username/password or token pair."
                          },
                          "cookie_name": {
                            "type": "string",
                            "description": "Cookie or credential name. Never the value."
                          },
                          "severity": {
                            "type": "string",
                            "enum": [
                              "CRITICAL",
                              "HIGH",
                              "MEDIUM",
                              "LOW"
                            ],
                            "description": "Severity derived from the service category."
                          },
                          "service_category": {
                            "type": "string",
                            "description": "Category of the affected service, e.g. cloud_console, identity_provider, productivity."
                          },
                          "channel_source": {
                            "type": "string",
                            "description": "Criminal channel or archive the record was collected from."
                          },
                          "ingested_at": {
                            "type": "string",
                            "description": "When RelayShield ingested the record."
                          }
                        }
                      }
                    },
                    "action_required": {
                      "type": "string",
                      "description": "Remediation text. Present only when found is true."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1/metered/identity-risk-score": {
      "post": {
        "operationId": "GetIdentityRiskScore",
        "summary": "Get a combined identity risk score for an email",
        "description": "A security credit score for any domain: breach exposure, infostealer density, IOC corpus presence, ransomware victim listing, active session exposure and CVE exposure. Returns the per-dimension breakdown as well as the total, so the score is auditable rather than a black box. MSPs embed this in QBRs, insurance renewals and onboarding assessments.\n\n**Billing.** $0.35 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metere...",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "Domain to score.",
                  "example": "acme.com",
                  "x-ms-summary": "Domain"
                }
              },
              "required": [
                "domain"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "The normalised domain."
                    },
                    "risk_score": {
                      "type": "integer",
                      "description": "Total 0-100. Higher is worse.",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "risk_level": {
                      "type": "string",
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW"
                      ],
                      "description": "CRITICAL at 70+, HIGH at 45+, MEDIUM at 22+, otherwise LOW."
                    },
                    "grade": {
                      "type": "string",
                      "enum": [
                        "A",
                        "B",
                        "C",
                        "D",
                        "F"
                      ],
                      "description": "F at 70+, D at 45+, C at 25+, B at 10+, otherwise A."
                    },
                    "dimension_scores": {
                      "type": "object",
                      "description": "Per-dimension contribution to the total.",
                      "properties": {
                        "breach_exposure": {
                          "type": "integer",
                          "description": "0-25, scaled by accounts affected."
                        },
                        "infostealer_density": {
                          "type": "integer",
                          "description": "0-25, scaled by stealer-log hit volume."
                        },
                        "ioc_presence": {
                          "type": "integer",
                          "description": "0-15, attributed IOCs referencing the brand."
                        },
                        "ransomware_victim": {
                          "type": "integer",
                          "description": "0 or 20."
                        },
                        "session_exposure": {
                          "type": "integer",
                          "description": "0-10, stolen session records."
                        },
                        "cve_exposure": {
                          "type": "integer",
                          "description": "0-25, weighted toward ransomware-linked KEV entries."
                        }
                      }
                    },
                    "max_score": {
                      "type": "integer",
                      "description": "Always 100."
                    },
                    "risk_factors": {
                      "type": "array",
                      "description": "Plain-English reasons, one per contributing dimension.",
                      "items": {
                        "type": "string",
                        "description": "One factor."
                      }
                    },
                    "summary": {
                      "type": "string",
                      "description": "One-line summary of score, grade and dimensions triggered."
                    },
                    "recommendation": {
                      "type": "string",
                      "description": "Recommended action."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1/metered/cert-expiry": {
      "post": {
        "operationId": "CheckCertificateExpiry",
        "summary": "Check TLS certificate expiry for a domain",
        "description": "Reads Certificate Transparency logs and reports days remaining on the certificate most likely deployed right now (the unexpired entry with the latest not_before). Relevant as CA/Browser Forum rules shrink standard certificate lifetimes toward 47 days by 2029.\n\n**Billing.** $0.05 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call...",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "Domain to check. A leading `www.` is stripped.",
                  "example": "acme.com",
                  "x-ms-summary": "Domain"
                }
              },
              "required": [
                "domain"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "The normalised domain."
                    },
                    "cert_found": {
                      "type": "boolean",
                      "description": "True when CT logs hold any certificate for the domain."
                    },
                    "expires_at": {
                      "type": "string",
                      "x-nullable": true,
                      "description": "Expiry timestamp. null when no live certificate."
                    },
                    "days_remaining": {
                      "type": "integer",
                      "x-nullable": true,
                      "description": "Days until expiry. null when no live certificate."
                    },
                    "risk_level": {
                      "type": "string",
                      "x-nullable": true,
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW",
                        null
                      ],
                      "description": "CRITICAL at 7 days or fewer, HIGH at 14, MEDIUM at 30, otherwise LOW. null when no certificates exist at all."
                    },
                    "issued_at": {
                      "type": "string",
                      "x-nullable": true,
                      "description": "Issue timestamp of the live certificate."
                    },
                    "recommendation": {
                      "type": "string",
                      "description": "Plain-English action."
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1/metered/card-exposure": {
      "post": {
        "operationId": "CheckCardExposure",
        "summary": "Check a BIN or card range for carding-market exposure",
        "description": "Pass a client-computed SHA-256 of the digit-only card number, a 6-8 digit BIN, or both. RelayShield never accepts or stores a raw card number, and a rejected value is never logged.\n\n**Billing.** $0.30 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "pan_hash": {
                  "type": "string",
                  "description": "64-character lowercase SHA-256 hex digest of the digit-only card number (no spaces, no dashes). Computed client-side.",
                  "pattern": "^[a-f0-9]{64}$",
                  "x-ms-summary": "Pan Hash"
                },
                "bin": {
                  "type": "string",
                  "description": "6 to 8 digit Bank Identification Number.",
                  "pattern": "^[0-9]{6,8}$",
                  "x-ms-summary": "Bin"
                }
              },
              "description": "At least one of: `pan_hash`, `bin`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "card_exposed": {
                      "type": "boolean",
                      "description": "True when the exact card hash is in the corpus. Present only when pan_hash was supplied."
                    },
                    "last4": {
                      "type": "string",
                      "description": "Last 4 digits of the exposed card. Present only on a pan_hash hit."
                    },
                    "first_seen": {
                      "type": "string",
                      "description": "When the card was first seen. Present only on a pan_hash hit."
                    },
                    "bin_exposed_card_count": {
                      "type": "integer",
                      "description": "Exposed cards sharing this BIN. Present only when bin was supplied."
                    },
                    "bin_last_seen": {
                      "type": "string",
                      "x-nullable": true,
                      "description": "Most recent sighting for this BIN. null when none."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/v1/metered/ip-intel": {
      "post": {
        "operationId": "CheckIpReputation",
        "summary": "Check an IP address for malicious reputation",
        "description": "Pass a domain for its historical IP resolutions, or an IP for reverse resolutions, AS owner and country. RelayShield's own IOC corpus is consulted first; a hit there is a stronger signal than a third-party vote count and short-circuits the external lookup.\n\n**Billing.** $0.10 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call th...",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "Domain to look up. A leading `www.` is stripped.",
                  "x-ms-summary": "Domain"
                },
                "ip": {
                  "type": "string",
                  "description": "IP address to look up. Takes precedence when both are supplied.",
                  "x-ms-summary": "Ip"
                }
              },
              "description": "At least one of: `domain`, `ip`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "enum": [
                    true
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "queried": {
                      "type": "string",
                      "description": "The value that was looked up."
                    },
                    "query_type": {
                      "type": "string",
                      "enum": [
                        "domain",
                        "ip"
                      ],
                      "description": "Which lookup ran."
                    },
                    "found": {
                      "type": "boolean",
                      "description": "True when the value is known to any source."
                    },
                    "reputation": {
                      "type": "integer",
                      "x-nullable": true,
                      "description": "Reputation score. null on a RelayShield-corpus hit or when not found."
                    },
                    "malicious_votes": {
                      "type": "integer",
                      "x-nullable": true,
                      "description": "Engines flagging it malicious. On a corpus hit this is the corpus hit count."
                    },
                    "suspicious_votes": {
                      "type": "integer",
                      "x-nullable": true,
                      "description": "Engines flagging it suspicious."
                    },
                    "source": {
                      "type": "string",
                      "description": "Present and set to `relayshield_ioc_corpus` when the answer came from RelayShield's own corpus."
                    },
                    "resolutions": {
                      "type": "array",
                      "description": "Up to 10 historical resolutions, newest first.",
                      "items": {
                        "type": "object",
                        "description": "One resolution record.",
                        "properties": {
                          "date": {
                            "type": "string",
                            "x-nullable": true,
                            "description": "When the resolution was observed."
                          },
                          "hostname": {
                            "type": "string",
                            "description": "Present when query_type is `ip`."
                          },
                          "ip_address": {
                            "type": "string",
                            "description": "Present when query_type is `domain`."
                          }
                        }
                      }
                    },
                    "as_owner": {
                      "type": "string",
                      "description": "Autonomous system owner. Present only when query_type is `ip`."
                    },
                    "country": {
                      "type": "string",
                      "description": "Two-letter country code. Present only when query_type is `ip`."
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The parameters were missing or malformed."
          },
          "401": {
            "description": "Unauthorized. The API key is missing or invalid."
          },
          "402": {
            "description": "Payment required. The account has no remaining balance or active plan."
          },
          "429": {
            "description": "Too many requests. Slow down and retry."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  },
  "definitions": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": []
}
