{
    "openapi": "3.1.0",
    "info": {
        "title": "RelayShield Security Tools (MCP)",
        "version": "0.1.0",
        "description": "MCP server over Streamable HTTP. Exposes RelayShield security intelligence tools (breach, SIM-swap, infostealer, domain lookalikes, ransomware leak-site listings, LLMjacking, MCP registry risk, prompt-injection breach, and more) to AI agents. Call tools/list to discover the current tool set and each tool's per-call x402 (USDC on Base) pricing; call tools/call to invoke one. Every tool accepts optional rs_api_key / x_payment arguments so each calling agent pays for its own usage rather than sharing one operator credential."
    },
    "servers": [
        { "url": "https://relayshield-security-tools.apify.actor" }
    ],
    "paths": {
        "/mcp": {
            "post": {
                "summary": "MCP JSON-RPC endpoint (Streamable HTTP transport)",
                "description": "Standard Model Context Protocol methods: initialize, tools/list, tools/call, notifications/initialized. See https://modelcontextprotocol.io for the full transport spec.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["jsonrpc", "method"],
                                "properties": {
                                    "jsonrpc": { "type": "string", "enum": ["2.0"] },
                                    "id": { "oneOf": [{ "type": "string" }, { "type": "integer" }] },
                                    "method": {
                                        "type": "string",
                                        "enum": ["initialize", "tools/list", "tools/call", "notifications/initialized"]
                                    },
                                    "params": { "type": "object" }
                                }
                            },
                            "examples": {
                                "listTools": {
                                    "summary": "Discover available tools and their per-call pricing",
                                    "value": { "jsonrpc": "2.0", "id": 1, "method": "tools/list", "params": {} }
                                },
                                "callTool": {
                                    "summary": "Call check_llm_credential_exposure, paying with your own x402 proof",
                                    "value": {
                                        "jsonrpc": "2.0",
                                        "id": 2,
                                        "method": "tools/call",
                                        "params": {
                                            "name": "check_llm_credential_exposure",
                                            "arguments": {
                                                "domain": "acme.com",
                                                "x_payment": "<your x402 payment proof>"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "JSON-RPC 2.0 response, as application/json or as an SSE event stream depending on the request's Accept header. A tool call needing payment (missing/invalid rs_api_key or x_payment) still returns HTTP 200 -- MCP carries that as {payment_required: true, price, payment_requirements} inside the JSON-RPC result content, not as an HTTP status code.",
                        "content": {
                            "application/json": { "schema": { "type": "object" } },
                            "text/event-stream": { "schema": { "type": "string" } }
                        }
                    }
                }
            }
        }
    }
}
