{
  "swagger": "2.0",
  "info": {
    "title": "RelayShield",
    "description": "Identity-layer threat intelligence. Check emails, domains and IP addresses against breach records, infostealer logs and aggregated threat feeds before granting access, resetting a credential or trusting a message.",
    "version": "1.0.0",
    "contact": {
      "name": "RelayShield Support",
      "email": "support@relayshield.net"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://api.relayshield.net"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://relayshield.net/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;IT Operations"
    }
  ],
  "host": "api.relayshield.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-RS-API-KEY"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/v1/metered/breach": {
      "post": {
        "operationId": "CheckEmailBreach",
        "summary": "Check email for breach exposure",
        "description": "Looks the address up across 13B+ compromised accounts and returns every breach it appears in, with the date and the classes of data exposed. Call it before trusting a new user identity or granting elevated access.\n\n**Billing.** $0.10 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email address to check. Case-insensitive; whitespace is trimmed. Must contain '@'.",
                  "format": "email",
                  "x-ms-summary": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. `ok` is true and `data` holds the result.",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "x-ms-summary": "Ok"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "observed_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When this verdict was observed. Cache keyed on this, not on receipt time.",
                      "x-ms-summary": "Observed at"
                    },
                    "valid_for_seconds": {
                      "type": "integer",
                      "description": "How long this verdict can be cached before it should be re-checked. Flagged results live 7 days; clean results live 12 hours, because a hit stays a hit while a clean answer is the one that flips without telling whoever cached it. A degraded result lives 5 minutes. This is a caching hint and a policy default, not a measurement and not a safety guarantee: how fast a verdict really goes stale is bounded by upstream detection latency, which we do not control.",
                      "x-ms-summary": "Valid for seconds"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "observed_at plus valid_for_seconds, precomputed.",
                      "x-ms-summary": "Expires at"
                    },
                    "degraded": {
                      "type": "boolean",
                      "description": "True when this answer was assembled from incomplete or failed upstream data. Treat it as NO VERDICT, never as clean. An outage that returns an empty finding list is otherwise indistinguishable from a real all-clear, and it fails in the permissive direction.",
                      "x-ms-summary": "Degraded"
                    },
                    "email": {
                      "type": "string",
                      "description": "The normalised address that was checked.",
                      "x-ms-summary": "Email"
                    },
                    "record_type": {
                      "type": "string",
                      "description": "Always `credential_exposure`. Lets a SIEM route every identity finding on one field.",
                      "x-ms-summary": "Record type"
                    },
                    "breach_count": {
                      "type": "integer",
                      "description": "Number of breaches the address appears in. 0 means no known exposure.",
                      "x-ms-summary": "Breach count"
                    },
                    "breaches": {
                      "type": "array",
                      "description": "One entry per breach, unordered.",
                      "items": {
                        "type": "object",
                        "description": "A single breach.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Breach identifier, e.g. `LinkedIn`.",
                            "x-ms-summary": "Name"
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain of the breached service. May be empty.",
                            "x-ms-summary": "Domain"
                          },
                          "breach_date": {
                            "type": "string",
                            "description": "Date of the breach, YYYY-MM-DD.",
                            "x-ms-summary": "Breach date"
                          },
                          "data_classes": {
                            "type": "array",
                            "description": "Data types exposed.",
                            "items": {
                              "type": "string",
                              "description": "e.g. `Email addresses`, `Passwords`."
                            },
                            "x-ms-summary": "Data classes"
                          },
                          "is_verified": {
                            "type": "boolean",
                            "description": "Whether the breach has been verified as genuine.",
                            "x-ms-summary": "Is verified"
                          }
                        }
                      },
                      "x-ms-summary": "Breaches"
                    }
                  },
                  "x-ms-summary": "Data"
                }
              }
            }
          },
          "400": {
            "description": "`email` is missing or contains no '@'.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "No credits and no active subscription. The response carries `topup_url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Wrong HTTP method. Every endpoint is POST.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Upstream breach database rate limit reached. Retry in a few seconds.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Upstream breach database unavailable or returned an unexpected status.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/metered/infostealer": {
      "post": {
        "operationId": "CheckInfostealer",
        "summary": "Check email in infostealer logs",
        "description": "A single infected device exposes every saved password at once: banking, card autofill, email, SaaS, and live session cookies that bypass 2FA. This returns the infection records tied to the address, including when the device was compromised and how many corporate and personal services were on it.\n\n**Billing.** $0.50 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email address to check.",
                  "format": "email",
                  "x-ms-summary": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. `ok` is true and `data` holds the result.",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "x-ms-summary": "Ok"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "observed_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When this verdict was observed. Cache keyed on this, not on receipt time.",
                      "x-ms-summary": "Observed at"
                    },
                    "valid_for_seconds": {
                      "type": "integer",
                      "description": "How long this verdict can be cached before it should be re-checked. Flagged results live 7 days; clean results live 6 hours, because a hit stays a hit while a clean answer is the one that flips without telling whoever cached it. A degraded result lives 5 minutes. This is a caching hint and a policy default, not a measurement and not a safety guarantee: how fast a verdict really goes stale is bounded by upstream detection latency, which we do not control.",
                      "x-ms-summary": "Valid for seconds"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "observed_at plus valid_for_seconds, precomputed.",
                      "x-ms-summary": "Expires at"
                    },
                    "degraded": {
                      "type": "boolean",
                      "description": "True when this answer was assembled from incomplete or failed upstream data. Treat it as NO VERDICT, never as clean. An outage that returns an empty finding list is otherwise indistinguishable from a real all-clear, and it fails in the permissive direction.",
                      "x-ms-summary": "Degraded"
                    },
                    "record_type": {
                      "type": "string",
                      "description": "Always `credential_exposure`.",
                      "x-ms-summary": "Record type"
                    },
                    "email": {
                      "type": "string",
                      "description": "The normalised address that was checked.",
                      "x-ms-summary": "Email"
                    },
                    "found": {
                      "type": "boolean",
                      "description": "True when at least one infection record exists.",
                      "x-ms-summary": "Found"
                    },
                    "stealer_count": {
                      "type": "integer",
                      "description": "Number of distinct infected devices.",
                      "x-ms-summary": "Stealer count"
                    },
                    "stealers": {
                      "type": "array",
                      "description": "One entry per infected device.",
                      "items": {
                        "type": "object",
                        "description": "A single infostealer infection.",
                        "properties": {
                          "date_compromised": {
                            "type": "string",
                            "description": "When the device was infected.",
                            "x-ms-summary": "Date compromised"
                          },
                          "computer_name": {
                            "type": "string",
                            "description": "Hostname recorded by the malware.",
                            "x-ms-summary": "Computer name"
                          },
                          "operating_system": {
                            "type": "string",
                            "description": "OS string recorded by the malware.",
                            "x-ms-summary": "Operating system"
                          },
                          "malware_path": {
                            "type": "string",
                            "description": "Filesystem path the stealer ran from.",
                            "x-ms-summary": "Malware path"
                          },
                          "total_corporate_services": {
                            "type": "integer",
                            "description": "Corporate credentials found on the device.",
                            "x-ms-summary": "Total corporate services"
                          },
                          "total_user_services": {
                            "type": "integer",
                            "description": "Personal credentials found on the device.",
                            "x-ms-summary": "Total user services"
                          }
                        }
                      },
                      "x-ms-summary": "Stealers"
                    }
                  },
                  "x-ms-summary": "Data"
                }
              }
            }
          },
          "400": {
            "description": "`email` is missing or contains no '@'.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "No credits and no active subscription. The response carries `topup_url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Wrong HTTP method. Every endpoint is POST.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Upstream infostealer corpus unavailable.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/metered/domain": {
      "post": {
        "operationId": "CheckDomainLookalikes",
        "summary": "Find phishing lookalike domains",
        "description": "Generates typosquat, homoglyph and phishing-prefix permutations, keeps the ones that actually resolve, then enriches each with Safe Browsing status, registration age and Certificate Transparency activity. A lookalike registered in the last 30 days with a fresh certificate is being stood up right now.\n\n**Billing.** $0.30 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.\n\n**Note.** Enrichment is bounded to 15 seconds. A lookalike whose enrichment does not finish in time is still returned, with its enrichment fields set to null rather than omitted -- null means unknown here, never 'clean'.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "Domain to protect. A scheme or leading `www.` is stripped for you.",
                  "x-ms-summary": "Domain"
                }
              },
              "required": [
                "domain"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. `ok` is true and `data` holds the result.",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "x-ms-summary": "Ok"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "observed_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When this verdict was observed. Cache keyed on this, not on receipt time.",
                      "x-ms-summary": "Observed at"
                    },
                    "valid_for_seconds": {
                      "type": "integer",
                      "description": "How long this verdict can be cached before it should be re-checked. Flagged results live 24 hours; clean results live 1 hour, because a hit stays a hit while a clean answer is the one that flips without telling whoever cached it. A degraded result lives 5 minutes. This is a caching hint and a policy default, not a measurement and not a safety guarantee: how fast a verdict really goes stale is bounded by upstream detection latency, which we do not control.",
                      "x-ms-summary": "Valid for seconds"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "observed_at plus valid_for_seconds, precomputed.",
                      "x-ms-summary": "Expires at"
                    },
                    "degraded": {
                      "type": "boolean",
                      "description": "True when this answer was assembled from incomplete or failed upstream data. Treat it as NO VERDICT, never as clean. An outage that returns an empty finding list is otherwise indistinguishable from a real all-clear, and it fails in the permissive direction.",
                      "x-ms-summary": "Degraded"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The normalised domain that was scanned.",
                      "x-ms-summary": "Domain"
                    },
                    "lookalikes_found": {
                      "type": "integer",
                      "description": "Permutations that resolve.",
                      "x-ms-summary": "Lookalikes found"
                    },
                    "lookalikes": {
                      "type": "array",
                      "description": "One entry per active lookalike.",
                      "items": {
                        "type": "object",
                        "description": "One active lookalike domain, enriched with intent signals.",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "The lookalike domain that resolves.",
                            "x-ms-summary": "Domain"
                          },
                          "gsb_flagged": {
                            "type": "boolean",
                            "x-nullable": true,
                            "description": "True if Google Safe Browsing lists it. null when enrichment timed out.",
                            "x-ms-summary": "Gsb flagged"
                          },
                          "registration_age_days": {
                            "type": "integer",
                            "x-nullable": true,
                            "description": "Days since registration via RDAP. Under 30 is a strong phishing signal. null when unavailable.",
                            "x-ms-summary": "Registration age days"
                          },
                          "cert_count": {
                            "type": "integer",
                            "x-nullable": true,
                            "description": "Certificates seen in Certificate Transparency logs.",
                            "x-ms-summary": "Cert count"
                          },
                          "cert_recent": {
                            "type": "boolean",
                            "x-nullable": true,
                            "description": "True if a certificate was issued recently, indicating the lookalike is being stood up now.",
                            "x-ms-summary": "Cert recent"
                          },
                          "latest_cert_issued": {
                            "type": "string",
                            "x-nullable": true,
                            "description": "Issue date of the most recent certificate.",
                            "x-ms-summary": "Latest cert issued"
                          }
                        }
                      },
                      "x-ms-summary": "Lookalikes"
                    },
                    "candidates_checked": {
                      "type": "integer",
                      "description": "Permutations actually resolved within the scan window. Previously this reported the number generated, which overstated coverage whenever the sweep was truncated.",
                      "x-ms-summary": "Candidates checked"
                    },
                    "candidates_total": {
                      "type": "integer",
                      "description": "Permutations generated for this domain.",
                      "x-ms-summary": "Candidates total"
                    },
                    "candidates_unchecked": {
                      "type": "integer",
                      "description": "Permutations whose DNS lookup did not finish in time. Non-zero means the sweep was truncated, `degraded` is true, and a low lookalikes_found is not evidence that the domain is clean.",
                      "x-ms-summary": "Candidates unchecked"
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran.",
                      "x-ms-summary": "Checked at"
                    }
                  },
                  "x-ms-summary": "Data"
                }
              }
            }
          },
          "400": {
            "description": "`domain` is missing or contains no '.'.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "No credits and no active subscription. The response carries `topup_url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Wrong HTTP method. Every endpoint is POST.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/metered/ip-intel": {
      "post": {
        "operationId": "GetIpIntel",
        "summary": "Get reputation for a domain or IP",
        "description": "Pass a domain for its historical IP resolutions, or an IP for reverse resolutions, AS owner and country. RelayShield's own IOC corpus is consulted first; a hit there is a stronger signal than a third-party vote count and short-circuits the external lookup.\n\n**Billing.** $0.10 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.\n\n**Note.** Responses are cached, so repeat lookups of the same value within the cache window are served from cache.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "Domain to look up. A leading `www.` is stripped.",
                  "x-ms-summary": "Domain"
                },
                "ip": {
                  "type": "string",
                  "description": "IP address to look up. Takes precedence when both are supplied.",
                  "x-ms-summary": "Ip"
                }
              },
              "description": "At least one of: `domain`, `ip`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. `ok` is true and `data` holds the result.",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "x-ms-summary": "Ok"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "queried": {
                      "type": "string",
                      "description": "The value that was looked up.",
                      "x-ms-summary": "Queried"
                    },
                    "query_type": {
                      "type": "string",
                      "enum": [
                        "domain",
                        "ip"
                      ],
                      "description": "Which lookup ran.",
                      "x-ms-summary": "Query type"
                    },
                    "found": {
                      "type": "boolean",
                      "description": "True when the value is known to any source.",
                      "x-ms-summary": "Found"
                    },
                    "reputation": {
                      "type": "integer",
                      "x-nullable": true,
                      "description": "Reputation score. null on a RelayShield-corpus hit or when not found.",
                      "x-ms-summary": "Reputation"
                    },
                    "malicious_votes": {
                      "type": "integer",
                      "x-nullable": true,
                      "description": "Engines flagging it malicious. On a corpus hit this is the corpus hit count.",
                      "x-ms-summary": "Malicious votes"
                    },
                    "suspicious_votes": {
                      "type": "integer",
                      "x-nullable": true,
                      "description": "Engines flagging it suspicious.",
                      "x-ms-summary": "Suspicious votes"
                    },
                    "source": {
                      "type": "string",
                      "description": "Present and set to `relayshield_ioc_corpus` when the answer came from RelayShield's own corpus.",
                      "x-ms-summary": "Source"
                    },
                    "resolutions": {
                      "type": "array",
                      "description": "Up to 10 historical resolutions, newest first.",
                      "items": {
                        "type": "object",
                        "description": "One resolution record.",
                        "properties": {
                          "date": {
                            "type": "string",
                            "x-nullable": true,
                            "description": "When the resolution was observed.",
                            "x-ms-summary": "Date"
                          },
                          "hostname": {
                            "type": "string",
                            "description": "Present when query_type is `ip`.",
                            "x-ms-summary": "Hostname"
                          },
                          "ip_address": {
                            "type": "string",
                            "description": "Present when query_type is `domain`.",
                            "x-ms-summary": "Ip address"
                          }
                        }
                      },
                      "x-ms-summary": "Resolutions"
                    },
                    "as_owner": {
                      "type": "string",
                      "description": "Autonomous system owner. Present only when query_type is `ip`.",
                      "x-ms-summary": "As owner"
                    },
                    "country": {
                      "type": "string",
                      "description": "Two-letter country code. Present only when query_type is `ip`.",
                      "x-ms-summary": "Country"
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran.",
                      "x-ms-summary": "Checked at"
                    }
                  },
                  "x-ms-summary": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Neither `domain` nor `ip` supplied.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "No credits and no active subscription. The response carries `topup_url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Wrong HTTP method. Every endpoint is POST.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Upstream reputation provider unavailable.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/metered/supply-chain": {
      "post": {
        "operationId": "CheckSupplyChain",
        "summary": "Assess vendor breach risk",
        "description": "One call covers up to 10 vendor domains. Each gets a breach and infostealer assessment plus a 0-100 dark-web composite; results come back sorted worst-first.\n\n**Billing.** $0.10 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "vendor_domains": {
                  "type": "array",
                  "description": "Vendor domains to assess.",
                  "items": {
                    "type": "string",
                    "description": "Domain."
                  },
                  "x-ms-summary": "Vendor domains"
                },
                "vendor_emails": {
                  "type": "array",
                  "description": "Vendor email addresses. The domain part is extracted and assessed, so you can pass a contact list directly.",
                  "items": {
                    "type": "string",
                    "description": "Email address.",
                    "format": "email"
                  },
                  "x-ms-summary": "Vendor emails"
                }
              },
              "description": "At least one of: `vendor_domains`, `vendor_emails`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. `ok` is true and `data` holds the result.",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "x-ms-summary": "Ok"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "domains_checked": {
                      "type": "integer",
                      "description": "Distinct domains assessed after deduplication.",
                      "x-ms-summary": "Domains checked"
                    },
                    "highest_risk": {
                      "type": "string",
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW",
                        "CLEAN"
                      ],
                      "description": "Worst risk_level across all vendors.",
                      "x-ms-summary": "Highest risk"
                    },
                    "critical_vendors": {
                      "type": "array",
                      "description": "Domains rated CRITICAL.",
                      "items": {
                        "type": "string",
                        "description": "Domain."
                      },
                      "x-ms-summary": "Critical vendors"
                    },
                    "high_risk_vendors": {
                      "type": "array",
                      "description": "Domains rated HIGH.",
                      "items": {
                        "type": "string",
                        "description": "Domain."
                      },
                      "x-ms-summary": "High risk vendors"
                    },
                    "results": {
                      "type": "array",
                      "description": "Per-vendor detail, sorted by dark_web_score descending.",
                      "items": {
                        "type": "object",
                        "description": "Per-vendor risk assessment.",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "The vendor domain assessed.",
                            "x-ms-summary": "Domain"
                          },
                          "breach_count": {
                            "type": "integer",
                            "description": "Number of known breach events affecting this domain.",
                            "x-ms-summary": "Breach count"
                          },
                          "breached_accounts": {
                            "type": "integer",
                            "description": "Accounts from this domain found across those breaches.",
                            "x-ms-summary": "Breached accounts"
                          },
                          "breach_names": {
                            "type": "array",
                            "description": "Breach names, capped at 10.",
                            "items": {
                              "type": "string",
                              "description": "Breach name."
                            },
                            "x-ms-summary": "Breach names"
                          },
                          "infostealer_found": {
                            "type": "boolean",
                            "description": "True if credentials for this domain appear in infostealer logs.",
                            "x-ms-summary": "Infostealer found"
                          },
                          "infostealer_count": {
                            "type": "integer",
                            "description": "Infostealer log entries for this domain.",
                            "x-ms-summary": "Infostealer count"
                          },
                          "infostealer_dates": {
                            "type": "array",
                            "description": "Compromise dates, present only when infostealer_found is true.",
                            "items": {
                              "type": "string",
                              "description": "Date the device was compromised."
                            },
                            "x-ms-summary": "Infostealer dates"
                          },
                          "risk_level": {
                            "type": "string",
                            "enum": [
                              "CRITICAL",
                              "HIGH",
                              "MEDIUM",
                              "LOW",
                              "CLEAN"
                            ],
                            "description": "Overall vendor risk rating.",
                            "x-ms-summary": "Risk level"
                          },
                          "risk_factors": {
                            "type": "array",
                            "description": "Plain-English reasons behind risk_level.",
                            "items": {
                              "type": "string",
                              "description": "One contributing factor."
                            },
                            "x-ms-summary": "Risk factors"
                          },
                          "recommendation": {
                            "type": "string",
                            "description": "Recommended action for this vendor.",
                            "x-ms-summary": "Recommendation"
                          },
                          "dark_web_score": {
                            "type": "integer",
                            "description": "Composite exposure score 0-100. Results are sorted by this, descending.",
                            "minimum": 0,
                            "maximum": 100,
                            "x-ms-summary": "Dark web score"
                          }
                        }
                      },
                      "x-ms-summary": "Results"
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran.",
                      "x-ms-summary": "Checked at"
                    }
                  },
                  "x-ms-summary": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Neither `vendor_domains` nor `vendor_emails` yielded a domain, or more than 10 distinct domains were supplied.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "No credits and no active subscription. The response carries `topup_url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Wrong HTTP method. Every endpoint is POST.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/metered/ransomware-risk": {
      "post": {
        "operationId": "CheckRansomwareRisk",
        "summary": "Check domain on ransomware leak sites",
        "description": "Queries 100+ active ransomware group leak sites for a victim listing, and counts credentials for the domain that appeared in stealer logs before the incident -- the pre-attack reconnaissance signal.\n\n**Billing.** $0.40 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "Domain to check. A leading `www.` is stripped.",
                  "x-ms-summary": "Domain"
                }
              },
              "required": [
                "domain"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. `ok` is true and `data` holds the result.",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "x-ms-summary": "Ok"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "The normalised domain.",
                      "x-ms-summary": "Domain"
                    },
                    "on_victim_list": {
                      "type": "boolean",
                      "description": "True when claimed by at least one ransomware group.",
                      "x-ms-summary": "On victim list"
                    },
                    "victim_groups": {
                      "type": "array",
                      "description": "Groups claiming the victim.",
                      "items": {
                        "type": "string",
                        "description": "Group name."
                      },
                      "x-ms-summary": "Victim groups"
                    },
                    "first_seen": {
                      "type": "string",
                      "description": "Earliest listing date. Empty when not listed.",
                      "x-ms-summary": "First seen"
                    },
                    "pre_ransomware_ioc_count": {
                      "type": "integer",
                      "description": "Credentials for this domain seen in stealer logs before the incident.",
                      "x-ms-summary": "Pre ransomware ioc count"
                    },
                    "risk_level": {
                      "type": "string",
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "CLEAN"
                      ],
                      "description": "CRITICAL when listed, HIGH when only pre-ransomware credentials exist, otherwise CLEAN.",
                      "x-ms-summary": "Risk level"
                    },
                    "recommendation": {
                      "type": "string",
                      "description": "Recommended action.",
                      "x-ms-summary": "Recommendation"
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran.",
                      "x-ms-summary": "Checked at"
                    }
                  },
                  "x-ms-summary": "Data"
                }
              }
            }
          },
          "400": {
            "description": "`domain` is missing or contains no '.'.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "No credits and no active subscription. The response carries `topup_url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Wrong HTTP method. Every endpoint is POST.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Ransomware victim query failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/metered/identity-risk-score": {
      "post": {
        "operationId": "GetIdentityRiskScore",
        "summary": "Score a domain for identity risk",
        "description": "A security credit score for any domain: breach exposure, infostealer density, IOC corpus presence, ransomware victim listing, active session exposure and CVE exposure. Returns the per-dimension breakdown as well as the total, so the score is auditable rather than a black box. MSPs embed this in QBRs, insurance renewals and onboarding assessments.\n\n**Billing.** $0.35 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "Domain to score.",
                  "x-ms-summary": "Domain"
                }
              },
              "required": [
                "domain"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. `ok` is true and `data` holds the result.",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "x-ms-summary": "Ok"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "The normalised domain.",
                      "x-ms-summary": "Domain"
                    },
                    "risk_score": {
                      "type": "integer",
                      "description": "Total 0-100. Higher is worse.",
                      "minimum": 0,
                      "maximum": 100,
                      "x-ms-summary": "Risk score"
                    },
                    "risk_level": {
                      "type": "string",
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW"
                      ],
                      "description": "CRITICAL at 70+, HIGH at 45+, MEDIUM at 22+, otherwise LOW.",
                      "x-ms-summary": "Risk level"
                    },
                    "grade": {
                      "type": "string",
                      "enum": [
                        "A",
                        "B",
                        "C",
                        "D",
                        "F"
                      ],
                      "description": "F at 70+, D at 45+, C at 25+, B at 10+, otherwise A.",
                      "x-ms-summary": "Grade"
                    },
                    "dimension_scores": {
                      "type": "object",
                      "description": "Per-dimension contribution to the total.",
                      "properties": {
                        "breach_exposure": {
                          "type": "integer",
                          "description": "0-25, scaled by accounts affected.",
                          "x-ms-summary": "Breach exposure"
                        },
                        "infostealer_density": {
                          "type": "integer",
                          "description": "0-25, scaled by stealer-log hit volume.",
                          "x-ms-summary": "Infostealer density"
                        },
                        "ioc_presence": {
                          "type": "integer",
                          "description": "0-15, attributed IOCs referencing the brand.",
                          "x-ms-summary": "Ioc presence"
                        },
                        "ransomware_victim": {
                          "type": "integer",
                          "description": "0 or 20.",
                          "x-ms-summary": "Ransomware victim"
                        },
                        "session_exposure": {
                          "type": "integer",
                          "description": "0-10, stolen session records.",
                          "x-ms-summary": "Session exposure"
                        },
                        "cve_exposure": {
                          "type": "integer",
                          "description": "0-25, weighted toward ransomware-linked KEV entries.",
                          "x-ms-summary": "Cve exposure"
                        }
                      },
                      "x-ms-summary": "Dimension scores"
                    },
                    "max_score": {
                      "type": "integer",
                      "description": "Always 100.",
                      "x-ms-summary": "Max score"
                    },
                    "risk_factors": {
                      "type": "array",
                      "description": "Plain-English reasons, one per contributing dimension.",
                      "items": {
                        "type": "string",
                        "description": "One factor."
                      },
                      "x-ms-summary": "Risk factors"
                    },
                    "summary": {
                      "type": "string",
                      "description": "One-line summary of score, grade and dimensions triggered.",
                      "x-ms-summary": "Summary"
                    },
                    "recommendation": {
                      "type": "string",
                      "description": "Recommended action.",
                      "x-ms-summary": "Recommendation"
                    }
                  },
                  "x-ms-summary": "Data"
                }
              }
            }
          },
          "400": {
            "description": "`domain` is missing or contains no '.'.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "No credits and no active subscription. The response carries `topup_url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Wrong HTTP method. Every endpoint is POST.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/metered/secret-scan-text": {
      "post": {
        "operationId": "ScanTextForSecrets",
        "summary": "Scan text or a diff for secrets",
        "description": "Pattern-scans content you send, with no external lookups. Built for pre-commit hooks and CI: send a unified diff and only added lines are scanned, so pre-existing secrets in a file do not block every commit that touches it. Priced well below secret-scan because this fires on every commit.\n\n**Billing.** $0.05 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.\n\n**Note.** The scanned content never reaches RelayShield's logs: only pattern names and counts are logged. Findings carry a fingerprint rather than the matched value.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "Raw file content to scan. Mutually exclusive with `diff`.",
                  "x-ms-summary": "Content"
                },
                "diff": {
                  "type": "string",
                  "description": "Unified diff. Only added lines are scanned. Mutually exclusive with `content`.",
                  "x-ms-summary": "Diff"
                },
                "filename": {
                  "type": "string",
                  "description": "Optional filename, echoed on each finding as `file`. Used with `content`.",
                  "x-ms-summary": "Filename"
                }
              },
              "description": "At least one of: `content`, `diff`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. `ok` is true and `data` holds the result.",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "x-ms-summary": "Ok"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "found": {
                      "type": "boolean",
                      "description": "True when at least one secret was detected.",
                      "x-ms-summary": "Found"
                    },
                    "bytes_scanned": {
                      "type": "integer",
                      "description": "UTF-8 byte length of the payload.",
                      "x-ms-summary": "Bytes scanned"
                    },
                    "findings": {
                      "type": "array",
                      "description": "Findings, sorted by severity then line number.",
                      "items": {
                        "type": "object",
                        "description": "One detected secret.",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Credential type.",
                            "x-ms-summary": "Type"
                          },
                          "description": {
                            "type": "string",
                            "description": "What the credential grants.",
                            "x-ms-summary": "Description"
                          },
                          "severity": {
                            "type": "string",
                            "enum": [
                              "CRITICAL",
                              "HIGH",
                              "MEDIUM",
                              "LOW"
                            ],
                            "description": "Severity of the credential type.",
                            "x-ms-summary": "Severity"
                          },
                          "line": {
                            "type": "integer",
                            "description": "1-indexed line number in the payload.",
                            "x-ms-summary": "Line"
                          },
                          "byte_offset": {
                            "type": "integer",
                            "description": "Byte offset of the match.",
                            "x-ms-summary": "Byte offset"
                          },
                          "length": {
                            "type": "integer",
                            "description": "Length of the matched value.",
                            "x-ms-summary": "Length"
                          },
                          "fingerprint": {
                            "type": "string",
                            "description": "Stable non-reversible fingerprint of the value. Lets you dedupe across runs without transmitting the secret.",
                            "x-ms-summary": "Fingerprint"
                          },
                          "llm_provider": {
                            "type": "string",
                            "description": "LLM or AI provider when the credential is provider-attributable, otherwise empty.",
                            "x-ms-summary": "Llm provider"
                          },
                          "file": {
                            "type": "string",
                            "description": "The `filename` you supplied, or the path parsed from the diff.",
                            "x-ms-summary": "File"
                          }
                        }
                      },
                      "x-ms-summary": "Findings"
                    },
                    "findings_count": {
                      "type": "integer",
                      "description": "Total findings.",
                      "x-ms-summary": "Findings count"
                    },
                    "severity_counts": {
                      "type": "object",
                      "description": "Counts keyed by severity.",
                      "properties": {},
                      "x-ms-summary": "Severity counts"
                    },
                    "highest_severity": {
                      "type": "string",
                      "x-nullable": true,
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW"
                      ],
                      "description": "Highest severity found. null when clean.",
                      "x-ms-summary": "Highest severity"
                    },
                    "recommendation": {
                      "type": "string",
                      "description": "Remediation text.",
                      "x-ms-summary": "Recommendation"
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran.",
                      "x-ms-summary": "Checked at"
                    }
                  },
                  "x-ms-summary": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Neither `content` nor `diff` supplied, both supplied, or either is not a string.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "No credits and no active subscription. The response carries `topup_url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Wrong HTTP method. Every endpoint is POST.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "413": {
            "description": "Payload exceeds 1,048,576 bytes (1 MiB). Split the scan into smaller batches -- the payload is rejected, never silently truncated.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/metered/session-risk": {
      "post": {
        "operationId": "CheckSessionRisk",
        "summary": "Check for stolen session cookies",
        "description": "Searches criminal stealer-log archives for live session cookies belonging to the address. This is the AiTM case that password rotation does not fix: a stolen cookie bypasses 2FA and stays valid until the session is explicitly invalidated.\n\n**Billing.** $0.30 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email address to check.",
                  "format": "email",
                  "x-ms-summary": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. `ok` is true and `data` holds the result.",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "x-ms-summary": "Ok"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "The normalised address that was checked.",
                      "x-ms-summary": "Email"
                    },
                    "record_type": {
                      "type": "string",
                      "description": "`credential_exposure`. Present on the not-found response.",
                      "x-ms-summary": "Record type"
                    },
                    "found": {
                      "type": "boolean",
                      "description": "True when at least one stolen session exists.",
                      "x-ms-summary": "Found"
                    },
                    "session_count": {
                      "type": "integer",
                      "description": "Number of stolen session records.",
                      "x-ms-summary": "Session count"
                    },
                    "highest_severity": {
                      "type": "string",
                      "x-nullable": true,
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW"
                      ],
                      "description": "Highest severity across all sessions. null when none found.",
                      "x-ms-summary": "Highest severity"
                    },
                    "sessions": {
                      "type": "array",
                      "description": "Sessions, sorted most severe first.",
                      "items": {
                        "type": "object",
                        "description": "One stolen session or credential record from the criminal corpus.",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "Service the stolen session belongs to.",
                            "x-ms-summary": "Domain"
                          },
                          "session_type": {
                            "type": "string",
                            "description": "`cookie` for a session cookie, `credential` for a username/password or token pair.",
                            "x-ms-summary": "Session type"
                          },
                          "cookie_name": {
                            "type": "string",
                            "description": "Cookie or credential name. Never the value.",
                            "x-ms-summary": "Cookie name"
                          },
                          "severity": {
                            "type": "string",
                            "enum": [
                              "CRITICAL",
                              "HIGH",
                              "MEDIUM",
                              "LOW"
                            ],
                            "description": "Severity derived from the service category.",
                            "x-ms-summary": "Severity"
                          },
                          "service_category": {
                            "type": "string",
                            "description": "Category of the affected service, e.g. cloud_console, identity_provider, productivity.",
                            "x-ms-summary": "Service category"
                          },
                          "channel_source": {
                            "type": "string",
                            "description": "Criminal channel or archive the record was collected from.",
                            "x-ms-summary": "Channel source"
                          },
                          "ingested_at": {
                            "type": "string",
                            "description": "When RelayShield ingested the record.",
                            "x-ms-summary": "Ingested at"
                          }
                        }
                      },
                      "x-ms-summary": "Sessions"
                    },
                    "action_required": {
                      "type": "string",
                      "description": "Remediation text. Present only when found is true.",
                      "x-ms-summary": "Action required"
                    }
                  },
                  "x-ms-summary": "Data"
                }
              }
            }
          },
          "400": {
            "description": "`email` is missing or contains no '@'.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "No credits and no active subscription. The response carries `topup_url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Wrong HTTP method. Every endpoint is POST.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Session corpus query failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/metered/nhi-exposure": {
      "post": {
        "operationId": "CheckMachineCredentials",
        "summary": "Find exposed machine credentials",
        "description": "Scans the stealer-log corpus for non-human identity credentials tied to your domains: AWS IAM keys, GitHub PATs, Stripe secrets, private keys and Slack tokens. This is not a repo scan -- it is the criminal side, where leaked keys are already circulating.\n\n**Billing.** $0.40 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "Your own domain.",
                  "x-ms-summary": "Domain"
                },
                "vendor_domains": {
                  "type": "array",
                  "description": "Additional supply-chain domains.",
                  "items": {
                    "type": "string",
                    "description": "Domain."
                  },
                  "x-ms-summary": "Vendor domains"
                }
              },
              "description": "At least one of: `domain`, `vendor_domains`."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. `ok` is true and `data` holds the result.",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "x-ms-summary": "Ok"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "domains_checked": {
                      "type": "integer",
                      "description": "Domains scanned. Capped at 10 after deduplication.",
                      "x-ms-summary": "Domains checked"
                    },
                    "found": {
                      "type": "boolean",
                      "description": "True when at least one credential was found.",
                      "x-ms-summary": "Found"
                    },
                    "findings": {
                      "type": "array",
                      "description": "Findings, sorted most severe first.",
                      "items": {
                        "type": "object",
                        "description": "One non-human identity credential found in the stealer log corpus.",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "Domain the finding was matched against.",
                            "x-ms-summary": "Domain"
                          },
                          "type": {
                            "type": "string",
                            "description": "Credential type, e.g. aws_access_key, github_pat, stripe_secret_key, private_key.",
                            "x-ms-summary": "Type"
                          },
                          "description": {
                            "type": "string",
                            "description": "What the credential grants and why it matters.",
                            "x-ms-summary": "Description"
                          },
                          "severity": {
                            "type": "string",
                            "enum": [
                              "CRITICAL",
                              "HIGH",
                              "MEDIUM",
                              "LOW"
                            ],
                            "description": "Severity of this credential type.",
                            "x-ms-summary": "Severity"
                          },
                          "preview": {
                            "type": "string",
                            "description": "Redacted context. Never the full secret value.",
                            "x-ms-summary": "Preview"
                          },
                          "source": {
                            "type": "string",
                            "description": "Channel or archive the record came from.",
                            "x-ms-summary": "Source"
                          },
                          "ingested_at": {
                            "type": "string",
                            "description": "When RelayShield ingested the record.",
                            "x-ms-summary": "Ingested at"
                          }
                        }
                      },
                      "x-ms-summary": "Findings"
                    },
                    "highest_severity": {
                      "type": "string",
                      "x-nullable": true,
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW"
                      ],
                      "description": "Highest severity found. null when none.",
                      "x-ms-summary": "Highest severity"
                    },
                    "recommendation": {
                      "type": "string",
                      "description": "Remediation text.",
                      "x-ms-summary": "Recommendation"
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran.",
                      "x-ms-summary": "Checked at"
                    }
                  },
                  "x-ms-summary": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Neither `domain` nor `vendor_domains` supplied.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "No credits and no active subscription. The response carries `topup_url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Wrong HTTP method. Every endpoint is POST.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/metered/oauth-watchlist": {
      "post": {
        "operationId": "CheckOauthTokens",
        "summary": "Find exposed OAuth and SaaS tokens",
        "description": "Combines breach history against a watchlist of OAuth-capable apps with a live search of the stealer-log corpus. Returns matched apps with direct revoke links, plus any stolen credentials, category-scored: cloud consoles and code repositories CRITICAL, identity providers and payment processors HIGH, productivity SaaS MEDIUM.\n\n**Billing.** $0.30 per successful call. Failed calls are never billed. Charged against prepaid credits when the balance covers it, otherwise metered to your card. Threat Intelligence subscribers and AWS Marketplace bundle customers call this at no extra charge.\n\n**Note.** The stealer-corpus half of this check is non-fatal: if that query fails, breach-history results are still returned rather than failing the whole call.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email address to check.",
                  "format": "email",
                  "x-ms-summary": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. `ok` is true and `data` holds the result.",
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "data"
              ],
              "properties": {
                "ok": {
                  "type": "boolean",
                  "x-ms-summary": "Ok"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "observed_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When this verdict was observed. Cache keyed on this, not on receipt time.",
                      "x-ms-summary": "Observed at"
                    },
                    "valid_for_seconds": {
                      "type": "integer",
                      "description": "How long this verdict can be cached before it should be re-checked. Flagged results live 7 days; clean results live 12 hours, because a hit stays a hit while a clean answer is the one that flips without telling whoever cached it. A degraded result lives 5 minutes. This is a caching hint and a policy default, not a measurement and not a safety guarantee: how fast a verdict really goes stale is bounded by upstream detection latency, which we do not control.",
                      "x-ms-summary": "Valid for seconds"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "observed_at plus valid_for_seconds, precomputed.",
                      "x-ms-summary": "Expires at"
                    },
                    "degraded": {
                      "type": "boolean",
                      "description": "True when this answer was assembled from incomplete or failed upstream data. Treat it as NO VERDICT, never as clean. An outage that returns an empty finding list is otherwise indistinguishable from a real all-clear, and it fails in the permissive direction.",
                      "x-ms-summary": "Degraded"
                    },
                    "email": {
                      "type": "string",
                      "description": "The normalised address that was checked.",
                      "x-ms-summary": "Email"
                    },
                    "matched_count": {
                      "type": "integer",
                      "description": "OAuth-capable apps matched via breach history.",
                      "x-ms-summary": "Matched count"
                    },
                    "matched_apps": {
                      "type": "array",
                      "description": "Apps matched from breach history.",
                      "items": {
                        "type": "object",
                        "description": "A matched OAuth app.",
                        "properties": {
                          "app": {
                            "type": "string",
                            "description": "App or service name.",
                            "x-ms-summary": "App"
                          },
                          "source": {
                            "type": "string",
                            "description": "Always `breach_history` for this list.",
                            "x-ms-summary": "Source"
                          },
                          "breach_date": {
                            "type": "string",
                            "description": "Date of the breach, YYYY-MM-DD.",
                            "x-ms-summary": "Breach date"
                          },
                          "data_classes": {
                            "type": "array",
                            "description": "Data types exposed.",
                            "items": {
                              "type": "string",
                              "description": "Data class."
                            },
                            "x-ms-summary": "Data classes"
                          },
                          "revoke_url": {
                            "type": "string",
                            "description": "Direct link to the app's revoke-access page.",
                            "x-ms-summary": "Revoke url"
                          }
                        }
                      },
                      "x-ms-summary": "Matched apps"
                    },
                    "stolen_token_count": {
                      "type": "integer",
                      "description": "Credential records found in the stealer corpus.",
                      "x-ms-summary": "Stolen token count"
                    },
                    "stolen_tokens": {
                      "type": "array",
                      "description": "Stolen credentials, sorted most severe first.",
                      "items": {
                        "type": "object",
                        "description": "One stolen session or credential record from the criminal corpus.",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "Service the stolen session belongs to.",
                            "x-ms-summary": "Domain"
                          },
                          "session_type": {
                            "type": "string",
                            "description": "`cookie` for a session cookie, `credential` for a username/password or token pair.",
                            "x-ms-summary": "Session type"
                          },
                          "cookie_name": {
                            "type": "string",
                            "description": "Cookie or credential name. Never the value.",
                            "x-ms-summary": "Cookie name"
                          },
                          "severity": {
                            "type": "string",
                            "enum": [
                              "CRITICAL",
                              "HIGH",
                              "MEDIUM",
                              "LOW"
                            ],
                            "description": "Severity derived from the service category.",
                            "x-ms-summary": "Severity"
                          },
                          "service_category": {
                            "type": "string",
                            "description": "Category of the affected service, e.g. cloud_console, identity_provider, productivity.",
                            "x-ms-summary": "Service category"
                          },
                          "channel_source": {
                            "type": "string",
                            "description": "Criminal channel or archive the record was collected from.",
                            "x-ms-summary": "Channel source"
                          },
                          "ingested_at": {
                            "type": "string",
                            "description": "When RelayShield ingested the record.",
                            "x-ms-summary": "Ingested at"
                          }
                        }
                      },
                      "x-ms-summary": "Stolen tokens"
                    },
                    "highest_severity": {
                      "type": "string",
                      "enum": [
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW",
                        "NONE"
                      ],
                      "description": "Highest severity across both signals. `NONE` when nothing was found.",
                      "x-ms-summary": "Highest severity"
                    },
                    "recommendation": {
                      "type": "string",
                      "description": "Remediation text derived from the most severe signal present.",
                      "x-ms-summary": "Recommendation"
                    },
                    "checked_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO 8601 UTC timestamp of when this check ran.",
                      "x-ms-summary": "Checked at"
                    }
                  },
                  "x-ms-summary": "Data"
                }
              }
            }
          },
          "400": {
            "description": "`email` is missing or contains no '@'.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "402": {
            "description": "No credits and no active subscription. The response carries `topup_url`.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "405": {
            "description": "Wrong HTTP method. Every endpoint is POST.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "Upstream breach database rate limit reached.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "502": {
            "description": "Upstream breach database unavailable.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "Failure envelope. Returned for every non-2xx response.",
      "required": [
        "ok",
        "error"
      ],
      "properties": {
        "ok": {
          "type": "boolean",
          "x-ms-summary": "Ok"
        },
        "error": {
          "type": "string",
          "description": "Human-readable description of what went wrong, naming the offending field where there is one.",
          "x-ms-summary": "Error"
        },
        "topup_url": {
          "type": "string",
          "description": "Present only on 402. Where to add credits.",
          "x-ms-summary": "Topup url"
        },
        "docs": {
          "type": "string",
          "description": "Present on 401. Link to the developer documentation.",
          "x-ms-summary": "Docs"
        }
      }
    }
  }
}
